h1 {
  color: #696969;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif

}

h3 {
  font-size: 20px;
  margin-bottom: 1px;
  font-family: 'Raleway', sans-serif
}

div{
  display: inline-block;
}
mark {
  background-color: #ffe1f0;
  color: #333333;
  margin-top: 3px
}
p{
  margin-bottom: 3px;
  color: #333333
}

button  {
  border-radius: 10px;
  background: #E6E6FA;
}
.checked {
  color: #FFDF00;
}
#firstBook{
  margin-left: 60px
}
img{
  border-radius: 5px
}
i {
  font-size: 15px;
  color: #FFDF00
}
